body{
    background-color: aquamarine;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
#texty1{
    border-width: 1px;
    border-style:solid;
    background: linear-gradient(to top, rgb(255, 228, 164), rgb(219, 180, 255));
}

.title1{
    border-width: 2px;
    border-style: outset;
    border-color: blueviolet;
    background: linear-gradient( rgb(255, 228, 164), rgb(219, 180, 255));
}

#section1{
    padding-top: 20px;
    padding-bottom: 20px;
    border-width: 3px;
    border-style: outset;
    border-color: blueviolet;
    background: linear-gradient(to top, gold, rgb(0, 195, 255));
    box-shadow: 2px, 2px,2px;
}
img{
    border-width: 2px;
    border-style: outset;
    border-color: rgb(0, 0, 0);
    box-shadow: 2px, 2px,2px;
}

#section2{
    padding-top: 20px;
    padding-bottom: 20px;
    border-width: 2px;
    border-style: outset;
    background-image: url(Wall1.png);
}

#texty2{
    border-width: 1px;
    border-style:solid;
    border-color: rgb(157, 255, 245);
    background-image: url(Wall2.png);
    font-size: 20px;
    color: orange;
}

.title2{
    border-width: 1px;
    border-style: outset;
    border-color: rgb(157, 255, 245);
    background-image: url(Wall2.png);
    font-size: 30px;
    color: orange;
}
#section3{
    padding-top: 20px;
    padding-bottom: 20px;
    border-width: 2px;
    border-style: outset;
    background-image: url(Whynot1.png);
    text-align: center;
}

#texty3{
    border-width: 1px;
    border-style:solid;
    border-color: rgb(157, 255, 245);
    background-image: url(BacUpdate.png);
    font-size: 30px;
    color: orange;
    text-align: center;
}

.title3{
    border-width: 1px;
    border-style: outset;
    border-color: rgb(17, 255, 0);
    background-image: url(BacUpdate.png);
    font-size: 30px;
    color: orange;
    text-align: center;
}
#section4{
    padding-top: 20px;
    padding-bottom: 20px;
    border-width: 2px;
    border-style: outset;
    background-image: url(Backtry1.png);
}

#texty4{
    border-width: 1px;
    border-style:solid;
    border-color: rgb(77, 255, 0);
    background-image: url(Backtry1.png);
    font-size: 30px;
    color: orange;
    text-align: center;
    text-decoration: line-through;
}

.title4{
    border-width: 1px;
    border-style: outset;
    border-color: rgb(0, 255, 4);
    background-image: url(Backtry1.png);
    font-size: 30px;
    color: orange;
    text-align: center;
}

#section5{
    padding-top: 20px;
    padding-bottom: 20px;
    border-width: 2px;
    border-style: outset;
    background-image: url(Try4.png);
}

#texty5{
    border-width: 1px;
    border-style:solid;
    border-color: rgb(77, 255, 0);
    background-image: url(Try4.png);
    font-size: 30px;
    color: orange;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.title5{
    border-width: 1px;
    border-style: outset;
    border-color: rgb(0, 255, 4);
    background-image: url(Try4.png);
    font-size: 30px;
    color: orange;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#texty6{
    list-style-type:none;
    border-width: 1px;
    border-style:solid;
    border-color: rgb(77, 255, 0);
    background-image: url(Try4.png);
    font-size: 20px;
    color: orange;
    text-align: center;
    

}

#section7{
    padding-top: 20px;
    padding-bottom: 20px;
    border-width: 4px;
    border-style: outset;
    background-image: url(Spec1.png);
}

#texty7{
    border-width: 3px;
    border-style:solid;
    border-color: rgb(77, 255, 0);
    background-image: url(Spec1.png);
    font-size: 30px;
    color: orange;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.title7{
    border-width: 3px;
    border-style: outset;
    border-color: rgb(0, 255, 4);
    background-image: url(Spec1.png);
    font-size: 30px;
    color: orange;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#section8{
    padding-top: 20px;
    padding-bottom: 20px;
    border-width: 4px;
    border-style: outset;
    background-image: url(RoverVid1.png);
    background-size: contain;
}

#texty8{
    border-width: 3px;
    border-style:solid;
    border-color: rgb(77, 255, 0);
    background-image: url(RoverVid1.png);
    font-size: 30px;
    color: orange;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.title8{
    border-width: 3px;
    border-style: outset;
    border-color: rgb(0, 255, 4);
    background-image: url(RoverVid1.png);
    font-size: 30px;
    color: orange;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.title9{
    border-width: 3px;
    border-style: outset;
    border-color: rgb(0, 255, 4);
    background-image: url(TestGimp3.png);
    font-size: 30px;
    color: orange;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
@keyframes myScale{
    25%{transform:scale(0.7,0.7)}
    50%{transform:scale(1,1)}
    75%{transform:scale(0.7,0.7)}
    }

    #section9{
        padding-top: 20px;
        padding-bottom: 20px;
        border-width: 4px;
        border-style: outset;
        background-image: url(RoverVid1.png);
        background-size: contain;
    }
#sectionanim1{
    padding-top: 20px;
    padding-bottom: 20px;
    border-width: 4px;
    animation: 2s linear 0s infinite running myScale;
    border-style: outset;
    background-image: url(RoverVid1.png);
    background-size: contain;
}